<nav class="navbar">
  <link rel="style" href="app.component.css">
  <div class="nav">
    <a routerLink="/"><img src="/assets/logo.png" class="brand-logo" alt=""></a>
    <div class="nav-items">
      <img src="/assets/upload.png" class="upload" (click)="uploadNewFile()">
      <input class="hidden" type="file" id="upload-file" name="upload-file" accept=".caff" ngf-max-size="20MB" (change)="addAttachment($event)">
      <a routerLink="/login"><img src="/assets/sign_in.png" alt="" id="sign_in"></a>
      <a routerLink="/registration"><img src="/assets/sign_up.png" alt="" id="sign_up"></a>
      <a routerLink="/"><img src="/assets/sign_out.png" alt="" id="sign_out" (click)="doLogout()"></a>
    </div>
  </div>
</nav>

<div class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
