<nav class="navbar">
  <link rel="style" href="app.component.css">
  <div class="nav">
    <a routerLink="/"><img src="/assets/logo.png" class="brand-logo" alt=""></a>
    <div class="nav-items">
      <div class="search">
        <input type="text" class="search-box" placeholder="search pictures">
        <button class="search-btn">search</button>
      </div>
      <a routerLink="/login"><img src="/assets/login.png" alt=""></a>
      <a class="nav-item" routerLink="/registration">Registration</a>
    </div>
  </div>
</nav>

<div class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>