################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SECundum_WebshopParser/.vs
/SECundum_WebshopParser/out/build/x64-Debug
